{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    <!DOCTYPE html>
    <html lang="en">
    <head><center>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carga de Avatar</title>
    </head>
    <body>
        <h3>Cargar de Avatar</h3>
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ miFormulario.as_p }}
            
        <input type="submit" value="Actualizar">
        </form>
    </body></center>
    </html>
{% endblock %}
