{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
<head>

<title> LISTA DE USUARIOS</title>

</head>

<body>
    {% for u in Usuarios %}
<center>
         <li>{{u}}</li>

        <button>
            <a href="{% url 'eliminarUsuarios' u.nombre  %}">ELIMINAR USUARIO</a>
            <a href="{% url 'editarUsuarios' u.nombre  %}">EDITAR USUARIO</a>
        </button>
        <br><br>


    {% endfor %} 
    <br>
    <button>
    <a href="{% url 'usuario_nuevo' %}">AGREGAR USUARIO</a>
    </button>      
</center>
</body>


{% endblock %}




<!-- TEST --
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2> Gestion de usuarios</h2>
        <div class="card">
            <div class="card-body">
                <form action="" method="POST">
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Código" minlength="6" maxlength="6" required>       
                </form>
                    </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    
    <div class="table-responsive py-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                
                {% for u in users_list %}
                <tr>
                    <td>{{u.nombre}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.password}}</td>
                </tr>
                <button>
                    <a href="signup.html">agregar</a>
                    <a href="">Editar</a>
                </button>
                {% endfor %}
            </tbody>
        </table> 
    </div>
</div>


<p> LISTA DE USUARIOS</p>

<body>

    <ul>
        
        {% for u in users_list %}

        <li>{{u}}</li>

        {% endfor %}
    </ul>  

</body>
</html>



!-- TEST -->