{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login de Usuarios</title>
    </head>
    <body>
        <center><h1>Login de Usuarios</h1>
        <br>
        <form action="" method="POST">
            {% csrf_token %}

            {{form.as_p}}

            <button type="submit">Iniciar Sesión</button>
        </form>
         </center>   
    </body>
    </html>

{% endblock %}