{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}


<div class="about_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 col-sm-12">
             <div class="about_img"><img src="{% static 'MAIN/images/jor4.png' %}"></div>
             <div class="like_icon"><img src="{% static 'MAIN/images/like-icon.png' %}"></div>
             <p class="post_text"></p>
             <h2 class="most_text">Sobre mi <br></h2>
             <p class="lorem_text">Vamos aver...</p>
             <div class="social_icon_main">
                <div class="social_icon">
             </div>                  
 

       </div>
    </div>
 </div>

 <br><br>

<center><h1><p class="se-t sie-new-canvas_2-text st-m-paragraph st-d-paragraph se-rc">
    ¡Hola! Soy Jorge. Soy un creador de contenido con sede en Buenos Aires apasionado por los viajes.<br><br> 
    He estado compartiendo mis aventuras durante más de una década, tanto en este blog como a través de las
    redes sociales con la esperanza de inspirar a otros a buscar experiencias similares.<br><br> 
    Creo firmemente que viajar por el mundo es bueno para el alma.
    <br><br><br><br>
    Empecé a viajar en 2009. Fue un viaje de mochilero de dos semanas por Perú lo que empezó todo. 
    Visité el Amazonas y caminé por el Camino Inca a Machu Picchu, y el resto es historia. <br><br>
    Desde entonces, he viajado a más de 50 países y he vivido las aventuras más retorcidas. <br><br>
    Todo, desde rastrear chimpancés salvajes en las selvas tropicales de Uganda hasta dormir bajo las cascadas
    de los glaciares en Nueva Zelanda. 
    <br><br><br><br>
    Felices Viajes. XX
    <br>
    </h1>
 </p><br></center> 
   


{% endblock %}