{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<div class="about_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-10 col-sm-12">
             <div class="about_img"><img src="{% static 'MAIN/images/about-img.png' %}"></div>
             <div class="like_icon"><img src="{% static 'MAIN/images/like-icon.png' %}"></div>
             <p class="post_text">Posteado por: Jorge</p>
             <p class="post_text">Fecha 01/12/2022</p>
             <h2 class="most_text">La montaña mas increible</h2>
             <h3 class="most_text">Mendoza</h3>
             <p class="lorem_text">
              Siempre es imponente la vista de la montaña.
              La cordillera de los andes se afirma como un gigante de hielo 
              que desafía a alpinistas de todo el mundo!
             </p>
             <div class="social_icon_main">
                <div class="social_icon">
                   <ul>
                      <li><a href="#"><img src=""></a></li>
                      <li><a href="#"><img src=""></a></li>
                      <li><a href="#"><img src=""></a></li>
                   </ul>
                </div>
             </div>
          </div>

{% endblock %}