{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

      {{ mensaje }}

<div class="about_section layout_padding">
   <div class="container">


            <div class="about_img"><img src="{% static 'MAIN/images/jor1.png' %}"></div>
            <div class="like_icon"><img src="{% static 'MAIN/images/like-icon.png' %}"></div>
            <p class="post_text"></p>
            <h2 class="most_text">Bienvenidos a mi Blog <br></h2>


               <div class="social_icon">
            </div>                  
         </div>
      </div>
   </div>
</div>

<center><h1><p class="se-t sie-new-canvas_2-text st-m-paragraph st-d-paragraph se-rc">
   Viajar por el mundo ha sido lo mío desde hace más de una década.
   <br><br><br>
   Este blog narra todas mis aventuras en el extranjero a través de diarios fotográficos y guías de destinos 
   seleccionadas diseñadas para ayudarte a 
   planificar aventuras similares. 
   <br><br>
   Desde los paisajes de ensueño futuristas de Singapur hasta las deslumbrantes
   islas griegas, 
   lo tengo cubierto para las mejores experiencias de viaje, hoteles, Airbnb, restaurantes y más.
   <br><br>
   La pregunta que recibo con más frecuencia: ¿Cuál es tu país favorito? Es difícil elegir 
   solo uno, pero mis cinco viajes favoritos de todos los tiempos han sido Grecia, Croacia, Italia, Omán y Uganda
   <br><br>.</h1>
</p><br></center> 

   

{% endblock %}

